<%- include('../_layouts/header') ; -%>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_5.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">Profile</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ <i class="ion-ios-arrow-forward"></i></a></span> <span>Quản lý cửa hàng <i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class=" responsive-product-h1" style="margin-top: 20px;">
        <div class="container">
            <div class="admin-respon">
                <div class="responsive-none">
                    <div class="admin-respon">
                        <h1 class="mb-5 responsive-product-h1" style="font-size: 28px;"><label for="responsive-nav-input1">
                        <svg style="width:22px; height:22px; margin-bottom: 3px;" 
                        aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tasks" class="svg-inline--fa fa-tasks fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M139.61 35.5a12 12 0 0 0-17 0L58.93 98.81l-22.7-22.12a12 12 0 0 0-17 0L3.53 92.41a12 12 0 0 0 0 17l47.59 47.4a12.78 12.78 0 0 0 17.61 0l15.59-15.62L156.52 69a12.09 12.09 0 0 0 .09-17zm0 159.19a12 12 0 0 0-17 0l-63.68 63.72-22.7-22.1a12 12 0 0 0-17 0L3.53 252a12 12 0 0 0 0 17L51 316.5a12.77 12.77 0 0 0 17.6 0l15.7-15.69 72.2-72.22a12 12 0 0 0 .09-16.9zM64 368c-26.49 0-48.59 21.5-48.59 48S37.53 464 64 464a48 48 0 0 0 0-96zm432 16H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"></path></svg>
               </label> Quản lý cửa hàng</h1>
                    </div>

                </div>
                <h1 class="mb-5 responsive-product-h2" style="font-size: 35px; padding-top: 50px;">Quản lý cửa hàng</h1>
            </div>
            <div class="bg-white shadow rounded-lg d-block d-sm-flex">
                <div class="profile-tab-nav border-right product-responsive">
                    <div class="p-4">
                        <div class="img-circle text-center mb-3">
                            <img src="/images/avt.jpg" alt="Image" class="shadow">
                        </div>
                        <h4 class="text-center">Admin</h4>
                    </div>
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link" id="products-tab" href="/KACoffe/v1/admin"> Sản phẩm
                        </a>
                        <a class="nav-link" id="discount-tab" href="/KACoffe/v1/admin/discount">
                            Mã giảm giá
                        </a>
                        <a class="nav-link" id="user-tab" href="/KACoffe/v1/admin/user">
                            Người dùng
                        </a>
                        <a class="nav-link" id="order-tab" href="/KACoffe/v1/admin/order">
                            Đơn hàng
                        </a>
                        <a class="nav-link" id="stories-tab" href="/KACoffe/v1/admin/stories">
                            Tin tức
                        </a>
                        <a class="nav-link active" id="statistic-tab" href="/KACoffe/v1/admin/statistic">
                            Thống kê
                        </a>
                    </div>
                </div>
                <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="statistic" role="tabpanel" aria-labelledby="statistic-tab">
                        <span class="subheading" style="font-size:30px;">Thống kê bán hàng</span> </br>
                        </br>
                        </br>

                        <div class="row-card" style="display: grid;grid-template-columns: 1fr 1fr 1fr;">

                            <div class="card text-white bg-primary mb-3" style="max-width: 15rem">
                                <div class="card-header">Tổng doanh thu</div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= statistic.avenue %> triệu đồng</h5>
                                    <% if (oldStatistic.oldAvenue <= statistic.avenue) { %>
                                        <p class="card-text">Tăng
                                            <%= statistic.avenue - oldStatistic.oldAvenue %> triệu</p>
                                        <% } else { %>
                                            <p class="card-text">Giảm
                                                <%= oldStatistic.oldAvenue - statistic.avenue %> triệu</p>
                                            <% } %>
                                </div>
                            </div>

                            <div class="card text-white bg-secondary mb-3" style="max-width: 15rem">
                                <div class="card-header">Khách hàng mới</div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= statistic.newcustomer %> khách</h5>
                                    <% if (oldStatistic.oldCustomer <= statistic.newcustomer) { %>
                                        <p class="card-text">Tăng
                                            <%= statistic.newcustomer - oldStatistic.oldCustomer %> khách</p>
                                        <% } else { %>
                                            <p class="card-text">Giảm
                                                <%= oldStatistic.oldCustomer - statistic.newcustomer %> khách</p>
                                            <% } %>
                                </div>
                            </div>

                            <div class="card text-white bg-success mb-3" style="max-width: 15rem">
                                <div class="card-header">Tổng đơn</div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= statistic.sumorder %> đơn</h5>
                                    <% if (oldStatistic.oldSumOrder <= statistic.sumorder) { %>
                                        <p class="card-text">Tăng
                                            <%= statistic.sumorder - oldStatistic.oldSumOrder %> đơn</p>
                                        <% } else { %>
                                            <p class="card-text">Giảm
                                                <%= oldStatistic.oldSumOrder - statistic.sumorder %> đơn</p>
                                            <% } %>
                                </div>
                            </div>
                        </div>

                        </br>

                        <figure class="highcharts-figure1">
                            <div id="container1"></div>
                            <p class="highcharts-description">

                            </p>
                        </figure>
                        </br>
                        <figure class="highcharts-figure2">
                            <div id="container2"></div>
                            <p class="highcharts-description">
                                <div class="rate">

                                </div>
                            </p>


                    </div>
                </div>


            </div>
            <input type="checkbox" name="" hidden class="nav-input" id="responsive-nav-input1">
            <label for="responsive-nav-input1" class="nav_overlay"></label>
            <div class="nav-responsive1" style="top:100px;">
                <label for="responsive-nav-input1" class="nav-responsive-close">
                         <svg style="width:22px; height:22px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
                     </label>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="products-tab" href="/KACoffe/v1/admin" style="margin-top: 30px;"> Sản phẩm
                        </a>
                    <a class="nav-link" id="discount-tab" href="/KACoffe/v1/admin/discount">
                            Mã giảm giá
                        </a>
                    <a class="nav-link" id="user-tab" href="/KACoffe/v1/admin/user">
                            Người dùng
                        </a>
                    <a class="nav-link" id="order-tab" href="/KACoffe/v1/admin/order">
                            Đơn hàng
                        </a>
                    <a class="nav-link" id="stories-tab" href="/KACoffe/v1/admin/stories">
                            Tin tức
                        </a>
                    <a class="nav-link active" id="statistic-tab" href="/KACoffe/v1/admin/statistic">
                            Thống kê
                        </a>
                </div>

            </div>
        </div>

        </div>
    </section>
    <%- include('../_layouts/footer') ; -%>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script src="/js/statistic.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                Thongke('<%= chart1.time %>', '<%= chart1.money %>', '<%= chart1.guess %>', '<%= chart2 %>');
            })
        </script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>