<!DOCTYPE html>
<html lang="en">

<head>
    <title>KACoffee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="/css/  .css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/fonts/fontawesome-free-5.15.4-web/css/all.min.css">
    <!--<link rel="stylesheet" href="/css/addProduct.css">-->

    <link rel="stylesheet" href="/css/button.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <label for="responsive-nav-input" class="nav-responsive-btn">
                <svg style="width:22px; height:22px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
       </label>
            <a class="navbar-brand" href="/KACoffe/v1">KACoffee</a>




            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/KACoffe/v1" class="nav-link">Trang chủ</a></li>
                    <li class="nav-item"><a href="/KACoffe/v1/menu" class="nav-link">Sản phẩm</a></li>
                    <li class="nav-item"><a href="/KACoffe/v1/discount" class="nav-link">Khuyến mãi</a></li>
                    <li class="nav-item"><a href="/KACoffe/v1/stories" class="nav-link">Tin tức</a></li>
                    <% if ( !user ) { %>
                        <li class="nav-item"><a href="/KACoffe/v1/auth" class="nav-link">Đăng nhập</a></li>
                        <% } %>
                            <% if ( user ) { %>
                                <li class="nav-item ">

                                    <div class="nav-link nav-item-user">
                                        <img src="/images/avt.jpg" alt="" class="nav-item-user-img">
                                        <span class="nav-item-user-name"><%= user.name  %></span>
                                        <ul class="nav-item-user-menu">
                                            <li class="nav-item-user-item">
                                                <a href="/KACoffe/v1/user/me">Tài khoản</a>
                                            </li>
                                            <li class="nav-item-user-item">
                                                <a href="/KACoffe/v1/order/myOrders">Đơn mua</a>
                                            </li>
                                            <% if( user.role=="admin" ) { %>
                                                <li class="nav-item-user-item">
                                                    <a href="/KACoffe/v1/admin">Quản lí cửa hàng </a>
                                                </li>
                                                <% } %>
                                                    <li class="nav-item-user-item">
                                                        <a href="/KACoffe/v1/auth/logout">Đăng xuất</a>
                                                    </li>

                                        </ul>
                                    </div>

                                </li>
                                <li class="nav-item">
                                    <div class="nav-link nav-item-user">

                                        <a href="/KACoffe/v1/notification">
                                            <i class="far fa-bell" style="color: #ffa92d;"></i>
                                        </a>

                                    </div>

                                </li>
                                <% } %>
                </ul>
            </div>
            <% if ( user ) { %>

                <div style="padding: 1px;margin-top: 4px;" class="header__cart">

                    <a href="/KACoffe/v1/order/cart" class="col-md-12 mt-3">
                        <div class="form-group">
                            <div class="cart-responsive-cart1">
                                <i style="align-items: center; color: #ffa92d;" class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </div>
                            <div class="cart-responsive-cart">
                                <i style="align-items: center; color: #fff;" class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </div>

                        </div>
                    </a>
                </div>

                <% }; %>
                    <!--responsive menu-->

                    <input type="checkbox" name="" hidden class="nav-input" id="responsive-nav-input">
                    <label for="responsive-nav-input" class="nav_overlay"></label>
                    <div class="nav-responsive">
                        <label for="responsive-nav-input" class="nav-responsive-close">
                         <svg style="width:22px; height:22px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
                     </label>
                        <ul class="nav-responsive-list" style="margin-top: 0px;">
                            <% if ( !user ) { %>
                                <li class="nav-item-responsive" style="margin-top: 50px;">
                                    <a href="/KACoffe/v1/auth" class="nav-link-responsive">
                                        <svg style="width:25px; height:25px; margin-right:5px; margin-bottom:5px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-in-alt" class="svg-inline--fa fa-sign-in-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z"></path></svg>                                        Đăng nhập</a>
                                </li>
                                <!--Sửa điểm hạng-->
                                <% } %>
                                    <% if ( user ) { %>
                                        <a href="/KACoffe/v1/user/me " class="p-4 ">
                                            <div class="img-circle text-center mb-3 ">
                                                <img src="/images/avt.jpg " alt="Image " class="shadow ">
                                            </div>
                                            <a href="/KACoffe/v1/user/me " class="text-center ">
                                                <h4 class="text-center ">
                                                    <%= user.name %>
                                                </h4>
                                            </a>
                                            <div class="text-center ">Hạng
                                                <%= user.rank %>
                                            </div>
                                            <% if(user.rank == 'thường') { %>
                                                <div class="text-center ">Điểm
                                                    <%= user.score %>/100</div>
                                                <% }else if(user.rank == 'đồng') { %>
                                                    <div class="text-center ">Điểm
                                                        <%= user.score %>/200</div>
                                                    <% } else if(user.rank == 'bạc') { %>
                                                        <div class="text-center ">Điểm
                                                            <%= user.score %>/300</div>
                                                        <% } else { %>
                                                            <div class="text-center ">Điểm
                                                                <%= user.score %>
                                                            </div>
                                                            <% } %>
                                        </a>
                                        <% } %>



                        </ul>
                        <ul class="nav-responsive-list " style="margin-top: 0; ">
                            <li class="nav-item-responsive ">
                                <a href="/KACoffe/v1/admin " class="nav-link-responsive ">
                                    <svg style="width:25px; height:25px; margin-right:5px; margin-bottom:5px; " aria-hidden="true" focusable="false" data-prefix="fas" data-icon="warehouse" class="svg-inline--fa fa-warehouse fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M504 352H136.4c-4.4 0-8 3.6-8 8l-.1 48c0 4.4 3.6 8 8 8H504c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zm0 96H136.1c-4.4 0-8 3.6-8 8l-.1 48c0 4.4 3.6 8 8 8h368c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zm0-192H136.6c-4.4 0-8 3.6-8 8l-.1 48c0 4.4 3.6 8 8 8H504c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zm106.5-139L338.4 3.7a48.15 48.15 0 0 0-36.9 0L29.5 117C11.7 124.5 0 141.9 0 161.3V504c0 4.4 3.6 8 8 8h80c4.4 0 8-3.6 8-8V256c0-17.6 14.6-32 32.6-32h382.8c18 0 32.6 14.4 32.6 32v248c0 4.4 3.6 8 8 8h80c4.4 0 8-3.6 8-8V161.3c0-19.4-11.7-36.8-29.5-44.3z"></path></svg>Quản
                                    lý cửa hàng</a>
                            </li>

                            <li class="nav-item-responsive ">
                                <a href="/KACoffe/v1 " class="nav-link-responsive ">
                                    <svg style="width:25px; height:25px; margin-right:5px; margin-bottom:5px; " aria-hidden="true " focusable="false " data-prefix="fas " data-icon="home " class="svg-inline--fa fa-home fa-w-18 " role="img " xmlns="http://www.w3.org/2000/svg
                                            " viewBox="0 0 576 512 "><path fill="currentColor " d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0
                                            0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15
                                            301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z "></path></svg> Trang chủ</a>
                            </li>
                            <li class="nav-item-responsive ">
                                <a href="/KACoffe/v1/menu " class="nav-link-responsive ">
                                    <svg style="width:25px; height:25px; margin-right:5px; margin-bottom:5px; " aria-hidden="true " focusable="false " data-prefix="fab " data-icon="product-hunt " class="svg-inline--fa fa-product-hunt fa-w-16
                                            " role="img " xmlns="http://www.w3.org/2000/svg " viewBox="0 0 512 512 "><path fill="currentColor " d="M326.3 218.8c0 20.5-16.7 37.2-37.2 37.2h-70.3v-74.4h70.3c20.5 0 37.2 16.7 37.2 37.2zM504 256c0 137-111 248-248 248S8
                                            393 8 256 119 8 256 8s248 111 248 248zm-128.1-37.2c0-47.9-38.9-86.8-86.8-86.8H169.2v248h49.6v-74.4h70.3c47.9 0 86.8-38.9 86.8-86.8z "></path></svg>Sản phẩm
                                </a>
                            </li>
                            <li class="nav-item-responsive ">
                                <a href="/KACoffe/v1/discount " class="nav-link-responsive ">
                                    <svg style="width:25px; height:25px; margin-right:5px; margin-bottom:5px; " aria-hidden="true " focusable="false " data-prefix="fas " data-icon="percent " class="svg-inline--fa fa-percent fa-w-14 " role="img
                                            " xmlns="http://www.w3.org/2000/svg " viewBox="0 0 448 512 "><path fill="currentColor " d="M112 224c61.9 0 112-50.1 112-112S173.9 0 112 0 0 50.1 0 112s50.1 112 112 112zm0-160c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48
                                            21.5-48 48-48zm224 224c-61.9 0-112 50.1-112 112s50.1 112 112 112 112-50.1 112-112-50.1-112-112-112zm0 160c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zM392.3.2l31.6-.1c19.4-.1 30.9 21.8 19.7 37.8L77.4
                                            501.6a23.95 23.95 0 0 1-19.6 10.2l-33.4.1c-19.5 0-30.9-21.9-19.7-37.8l368-463.7C377.2 4 384.5.2 392.3.2z "></path></svg> Khuyến mãi</a>
                            </li>
                            <li class="nav-item-responsive ">
                                <a href="/KACoffe/v1/stories " class="nav-link-responsive ">
                                    <svg style="width:25px; height:25px; margin-right:5px; margin-bottom:3px; " aria-hidden="true " focusable="false " data-prefix="fas " data-icon="newspaper " class="svg-inline--fa fa-newspaper fa-w-18 " role="img
                                            " xmlns="http://www.w3.org/2000/svg " viewBox="0 0 576 512 "><path fill="currentColor " d="M552 64H88c-13.255 0-24 10.745-24 24v8H24c-13.255 0-24 10.745-24 24v272c0 30.928 25.072 56 56 56h472c26.51 0 48-21.49 48-48V88c0-13.255-10.745-24-24-24zM56
                                            400a8 8 0 0 1-8-8V144h16v248a8 8 0 0 1-8 8zm236-16H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12
                                            12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm-208-96H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627
                                            5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm0-96H140c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h360c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12z "></path></svg>                                    Tin tức</a>
                            </li>
                            <% if ( user ) { %>
                                <li class="nav-item-responsive ">
                                    <a href="/KACoffe/v1/notification " class="nav-link-responsive ">

                                        <svg style="width:25px; height:25px; margin-right:5px; margin-bottom:3px; " aria-hidden="true " focusable="false " data-prefix="far " data-icon="bell " class="svg-inline--fa fa-bell fa-w-14 " role="img
                                            " xmlns="http://www.w3.org/2000/svg " viewBox="0 0 448 512 "><path fill="currentColor " d="M439.39 362.29c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98
                                            32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71zM67.53 368c21.22-27.97
                                            44.42-74.33 44.53-159.42 0-.2-.06-.38-.06-.58 0-61.86 50.14-112 112-112s112 50.14 112 112c0 .2-.06.38-.06.58.11 85.1 23.31 131.46 44.53 159.42H67.53zM224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64
                                            63.97 64z "></path></svg> Thông báo</a>
                                </li>
                                <li class="nav-item-responsive ">
                                    <a href="/KACoffe/v1/auth/logout " class="nav-link-responsive ">


                                        <svg style="width:25px; height:25px; margin-right:5px; margin-bottom:3px; " aria-hidden="true " focusable="false " data-prefix="fas " data-icon="sign-out-alt " class="svg-inline--fa fa-sign-out-alt fa-w-16
                                            " role="img " xmlns="http://www.w3.org/2000/svg " viewBox="0 0 512 512 "><path fill="currentColor " d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168
                                            168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z "></path></svg>Đăng
                                        xuất
                                    </a>
                                </li>

                                <% } %>
                        </ul>

                    </div>

        </div>

        </div>
    </nav>