<%- include('_layouts/header') ; -%>
    <link rel="stylesheet" href="/css/addProduct.css">
    <div class="container">
        <a href="/KACoffe/v1/menu">
            <button class="btn btn-primary mb-3" style="margin-top: 100px;">Tiếp tục mua hàng</button>
        </a>
        <div class="cart">
            <span class="subheading" style="font-size:28px;">Giỏ hàng</span>
            <table class="cart-table" style="margin-top: 50px;">
                <tr>
                    <!--<th width="60" style="text-align: center;"><span class="cart-all">Tất cả</span></th>-->
                    <th width="150" style="text-align: center;">Sản phẩm</th>
                    <th width="50" style="text-align: center;">Giá</th>
                    <th width="25" style="text-align: center;">Số lượng</th>
                    <th width="25" style="text-align: center;">Size</th>
                    <th width="100" style="text-align: center;">Tổng cộng</th>
                    <th width="60" style="text-align: center;">Thao tác</th>
                </tr>

                <% orders.forEach( (order)=>{  %>
                    <tr class="cart-item">
                        <!--<td>
                            <input type="checkbox" checked="checked" class="cart-check" name="courseIds[]" value="<%= order._id %>" />
                        </td>-->
                        <td class="cart-txt-left">
                            <img src="/images/white-coffee.jpg" alt="" class="cart-txt-left-img">
                            <a href="white-coffee.html" class="cart-name">
                                <%= order.name  %>
                            </a>
                        </td>
                        <td><span class="cart-price"><%=  order.price  %>đ</span></td>
                        <td><!--<span class="cart-reduce">-</span>--><span class="cart-num"><%= order.amount  %></span><!--<span class="cart-add">+</span>--></td>
                        <td><span class="cart-price"><%=  order.size  %></span></td>
                        <td><span class="cart-subtotal"> <%= order.amount*order.price %>đ</span></td>
                        <form action="/KACoffe/v1/order/delete/<%= order._id %>" method="POST">
                            <td><span class="cart-del"> <button class="btn btn-danger" type="submit">Xóa</button></span></td>
                        </form>
                    </tr>
                    <% }) %>
                        <% if( user.role=="user"){ %>
                            <form action="/KACoffe/v1/order/buy" id="formsubmit" method="POST">
                                </br>
                                <tr style="margin-top: 10px;">
                                    <td colspan="3">
                                        Address : <input id="address-input" type="text" name="address">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        </br>
                                        Áp dụng mã giảm giá :
                                        <select name="magiamgia">
                                            <option  value="" >Không áp dụng</option>
                                            <% discount.forEach((discount) =>{ %>
                                            <option  value="<%= discount  %>" ><%= discount  %></option>
                                            <% }) %>    
                                        </select>
                                    </td>
                                </tr>
                            </form>
                            <tr class="cart-bottom">
                                <td colspan="6">
                                    <span class="cart-bottom-span">Mua <span class="cart-total-num"><%= orders.length %></span> Sản phẩm</span>
                                    <span class="cart-bottom-span">Tổng cộng: <span class="cart-total-price"><%= subtotal %>đ</span></span>
                                    <input class="btn btn-primary px-4 py-3 mt-3" style="width: 150px;margin-bottom: 20.5px; margin-left: 8px;" type="submit" id="dathang" value="Đặt hàng">
                                </td>
                            </tr>
                            <%  }else{ %>
                                <form action="/KACoffe/v1/order/buyByAdmin" id="formsubmit1" method="POST">
                                    </br>
                                    <tr style="margin-top: 250px;">
                                        <td colspan="3" id="wrapform">
                                            Email : <input id="email-input" type="email" name="email">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            </br>
                                            Áp dụng mã giảm giá :
                                            <select name="magiamgia">
                    <option  value="" >Không áp dụng</option>
                    <% discount.forEach((discount) =>{ %>
                    <option  value="<%= discount  %>" ><%= discount  %></option>
                    <% }) %>    
                </select>
                                        </td>
                                    </tr>
                                </form>
                                <tr style="margin-top: 450px;">
                                    <form action="/KACoffe/v1/order/check" id="formsubmit2" method="POST">
                                        <td colspan="3" id="wrapform">
                                            Email của KH : <input type="text" name="email">
                                            <button class="btn btn-primary px-4 py-3 mt-3" style="width: 150px;margin-bottom: 15px; margin-left: 8px;" type="submit" id="kiemtra">Kiểm tra KH</button>
                                        </td>
                                    </form>
                                </tr>
                                <tr class="cart-bottom">
                                    <td colspan="6">
                                        <select style="padding: 7px;" id="doichai" name="doivo" >
                                            <option value="5" >5 chai</option>
                                            <option value="10">10 chai</option>
                                            <option value="15">15 chai</option>
                                            <option value="20">20 chai</option>
                                        </select>
                                        <button class="btn btn-primary px-4 py-3 mt-3" onclick="event.preventDefault();doivochai()" style="width: 150px;margin-bottom: 20.5px; margin-left: 8px;" type="submit" >Đổi vỏ chai</button>
                                        
                                        
                                    </td>
                                </tr>
                                <tr class="cart-bottom">
                                    <td colspan="6">
                                        <span class="cart-bottom-span">Mua <span class="cart-total-num"><%= orders.length %></span> Sản phẩm</span>
                                        <span class="cart-bottom-span">Tổng cộng: <span class="cart-total-price"><%= total %>đ</span></span>
                                        <button class="btn btn-primary px-4 py-3 mt-3" style="width: 150px;margin-bottom: 20.5px; margin-left: 8px;" type="submit" id="dathang1">Đặt hàng</button>
                                    </td>
                                </tr>
                                <% } %>
            </table>
        </div>
    </div>
<script>
    const addressInput = document.getElementById('address-input')
    const emailInput = document.getElementById('email-input')
    const dathang1 = document.getElementById('dathang1')
    const dathang = document.getElementById('dathang')
    const formsubmit = document.getElementById('formsubmit')
    const formsubmit1 = document.getElementById('formsubmit1')

    document.addEventListener('DOMContentLoaded', async function() {
        if ('<%= noti %>') {
            await swal("<%= noti %>", "Click để tiếp tục", "success")
        }
        if ('<%= warning %>') {
            await swal("Đặt hàng không thành công!", "<%= warning %>", "warning")
        }
    })

    if (dathang1) {
        dathang1.addEventListener('click', async function(e){
            if (emailInput.value == '') {
                e.preventDefault()
                await swal("Chưa có email khách hàng!", "Click để tiếp tục", "warning")
            } else {
                await swal("Đang thực hiện mua hàng!", "Click để tiếp tục", "success")
                formsubmit1.submit();
            }
        })
    }

    if (dathang) {
        dathang.addEventListener('click', async function(e){
            if (addressInput.value == '') {
                e.preventDefault()
                await swal("Chưa có địa chỉ mua hàng!", "Click để tiếp tục", "warning")
            } else {
                await swal("Đang thực hiện đặt hàng!", "Click để tiếp tục", "success")
                    .then(function() {
                        formsubmit.submit()
                    })
            } 
        })
    }

    async function doivochai(){
        let chai= $('#doichai option:selected').val();
        let amount ='<%= amount %>'
        amount= parseInt(amount)

        if(amount>=5){
            await swal(`Quý khách được đổi ${chai/5} chai miễn phí`, "Click để tiếp tục", "success")
        }else{
            await swal("Không đủ điều kiện để đổi chai!", "Click để tiếp tục", "warning")
        }
    }
    
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<%- include('_layouts/footer') ; -%>