<%- include('_layouts/header') ; -%>
    <link rel="stylesheet" href="/css/addProduct.css">
    <div class="container">
        <a href="/KACoffe/v1/menu">
            <button class="btn btn-primary mb-3" style="margin-top: 100px;">Tiếp tục mua hàng</button>
        </a>
        <% if (orders.length == 0) { %> 
            <br>
            <div class="d-flex flex-column align-items-center justify-content-center mb-5">
                <img src="/images/empty-cart.png" alt="">
                <p><b>Giỏ hàng còn trống!</b></p>
            </div>
        <% } else { %> 
            <div class="cart mb-5 pb-5">
                <span class="subheading" style="font-size:28px;">Giỏ hàng</span>
                <table class="cart-table" style="margin-top: 50px;">
                    <tr>
                        <!--<th width="60" style="text-align: center;"><span class="cart-all">Tất cả</span></th>-->
                        <th width="150" style="text-align: center;">Sản phẩm</th>
                        <th width="50" style="text-align: center;">Giá</th>
                        <th width="25" style="text-align: center;">Số lượng</th>
                        <th width="25" style="text-align: center;">Size</th>
                        <th width="100" style="text-align: center;">Tổng cộng</th>
                        <th width="60" style="text-align: center;">Thao tác</th>
                    </tr>
                    <% orders.forEach( (order)=>{  %>
                        <tr class="cart-item">
                            <!--<td>
                                <input type="checkbox" checked="checked" class="cart-check" name="courseIds[]" value="<%= order._id %>" />
                            </td>-->
                            <td class="cart-txt-left">
                                <img src="/images/white-coffee.jpg" alt="" class="cart-txt-left-img">
                                <a href="/KACoffe/v1/menu/<%= order.product %>" class="cart-name">
                                    <%= order.name  %>
                                </a>
                            </td>
                            <td>
                                <span class="cart-price">
                                    <% if(order.price==0) { %>
                                        5 vỏ chai
                                    <% } else { %>
                                        <%= order.price %>đ
                                    <% } %>
                                </span>
                            </td>
                            <td><!--<span class="cart-reduce">-</span>--><span class="cart-num"><%= order.amount  %></span><!--<span class="cart-add">+</span>--></td>
                            <td><span class="cart-price"><%=  order.size  %></span></td>
                            <td>
                                <span class="cart-subtotal"> 
                                    <% if(order.price==0) { %>
                                        <%= order.amount*5 %> vỏ chai
                                    <% } else { %>
                                        <%= order.amount*order.price %>đ
                                    <% } %>
                                </span>
                            </td>
                            <form action="/KACoffe/v1/order/delete/<%= order._id %>" method="POST">
                                <td><span class="cart-del"> <button class="btn btn-danger" type="submit">Xóa</button></span></td>
                            </form>
                        </tr>
                    <% }) %>
                </table>
            </div>
            <div class="cart mb-5 pb-0 pr-lg-4 pl-lg-4">
                <% if( user.role=="user"){ %>
                    <div class="row">
                        <div class="col-md-6">
                            <form action="/KACoffe/v1/order/buy" id="formsubmit" method="POST">
                                <div class="form-group">
                                    <p>Địa chỉ mua hàng: </p>
                                    <input id="address-input" type="text" name="address" placeholder="Địa chỉ">
                                </div>
                                <div class="form-group">
                                    <p>Áp dụng mã giảm giá:</p>
                                    <select class="custom-select" id="inputGroupSelect01" name="magiamgia">
                                        <option value="">Không áp dụng mã giảm giá</option>
                                        <% discount.forEach((discount) =>{ %>
                                            <% if(discount.condition2 <= subtotal) { %>
                                                <option  value="<%= discount.name  %>" data-minus="<%= discount.minusPrice %>" data-category="<%= discount.category %>"><%= discount.name  %></option>
                                            <% } else { %>
                                                <option  value="" disabled><%= discount.name  %></option>
                                            <% } %>
                                        <% }) %>    
                                    </select>    
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 mt-4 d-flex flex-md-column align-items-end">
                            <div class="form-group mb-0 d-flex flex-md-column align-items-end">
                                <span class="cart-bottom-span">Mua <span class="cart-total-num"><%= orders.length %></span> Sản phẩm: <span class="cart-total-price"><%= total %>đ</span></span>
                                <% if(orders.length != 0) { %>
                                    <span class="cart-bottom-span">Phí giao hàng: <span class="cart-total-price">10000đ</span></span>
                                <% } else { %>
                                    <span class="cart-bottom-span">Phí giao hàng: <span class="cart-total-price">0đ</span></span>
                                <% } %>
                                <span class="cart-bottom-span">Giảm giá: <span class="cart-total-price discount-span">0đ</span></span>
                                <span class="cart-bottom-span">Tổng cộng: <span class="cart-total-price subtotal-span"><%= subtotal %>đ</span></span>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary mt-4" style="width: 150px;margin-bottom: 20.5px; margin-left: 8px;" type="button" id="dathang" value="Đặt hàng">
                            </div>
                        </div>
                    </div>
                <%  }else{ %>
                    <div class="row">
                        <div class="col-md-6">
                            <form action="/KACoffe/v1/order/buyByAdmin" id="formsubmit1" method="POST">
                                <div class="form-group">
                                    <p>Email khách hàng: </p>
                                    <input id="email-input" type="email" name="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <p>Áp dụng mã giảm giá:</p>
                                    <select class="custom-select" id="inputGroupSelect01" name="magiamgia">
                                        <option value="">Không áp dụng mã giảm giá</option>
                                        <% discount.forEach((discount) =>{ %>
                                            <% if(discount.condition2 <= subtotal) { %>
                                                <option  value="<%= discount.name  %>" data-minus="<%= discount.minusPrice %>" data-category="<%= discount.category %>"><%= discount.name  %></option>
                                            <% } else { %>
                                                <option  value="" disabled><%= discount.name  %></option>
                                            <% } %>
                                        <% }) %>    
                                    </select>    
                                </div>
                            </form>
                            <form action="/KACoffe/v1/order/check" id="formsubmit2" method="POST">
                                <div class="form-group">        
                                    <p>Kiểm tra email khách hàng:</p>
                                    <input type="text" name="email" placeholder="Kiểm tra email">
                                    <button class="btn btn-primary mt-4" style="width: 150px;margin-bottom: 15px;" type="submit" id="kiemtra">Kiểm tra</button>          
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 mt-4 d-flex flex-md-column align-items-end justify-content-md-end">
                            <div class="form-group mb-0 d-flex flex-md-column align-items-end">
                                <span class="cart-bottom-span">Mua <span class="cart-total-num"><%= orders.length %></span> Sản phẩm: <span class="cart-total-price"><%= total %>đ</span></span>
                                <span class="cart-bottom-span">Giảm giá: <span class="cart-total-price discount-span">0đ</span></span>
                                <span class="cart-bottom-span">Tổng cộng: <span class="cart-total-price subtotal-span"><%= total %>đ</span></span>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary mt-4" style="width: 150px;margin-bottom: 20.5px; margin-left: 8px;" type="button" id="dathang1" value="Đặt hàng">
                            </div>
                        </div>
                    </div>

                <% } %>

            </div>                
        <% } %>
    </div>
<script>
    const discountSelect = document.querySelector('select[name="magiamgia"]')
    const subtotal = document.querySelector('.subtotal-span')
    const discount = document.querySelector('.discount-span')
    discountSelect.addEventListener('change', function() {
        var option = discountSelect.options[discountSelect.selectedIndex];
        var minus = parseInt(option.getAttribute('data-minus'));
        var category = option.getAttribute('data-category');
        var total = parseInt('<%= user.role %>' == 'user' ? '<%= subtotal %>' : '<%= total %>')

        if(category == 'money') {
            discount.innerText = `-${minus}đ` 
            subtotal.innerText = `${total - minus}đ` 
        } else if(category == 'rate') {
            discount.innerText = `-${minus}%`
            subtotal.innerText = `${total - total*minus/100}đ` 
        } else if(category == 'shippingfee') {
            discount.innerText = `Free ship`
            subtotal.innerText = '<%= user.role %>' == 'user' ? `${total - 10000}đ`  : `${total}đ`
        } else {
            discount.innerText = `0đ`
            subtotal.innerText = `${total}đ` 
        }
    })
</script>
<script>
    const addressInput = document.getElementById('address-input')
    const emailInput = document.getElementById('email-input')
    const dathang1 = document.getElementById('dathang1')
    const dathang = document.getElementById('dathang')
    const formsubmit = document.getElementById('formsubmit')
    const formsubmit1 = document.getElementById('formsubmit1')

    document.addEventListener('DOMContentLoaded', async function() {
        if ('<%= noti %>') {
            await swal("<%= noti %>", "Click để tiếp tục", "success")
        }
        if ('<%= warning %>') {
            await swal("Đặt hàng không thành công!", "<%= warning %>", "warning")
        }
    })

    if (dathang1) {
        dathang1.addEventListener('click', async function(e){
            if (emailInput.value == '') {
                e.preventDefault()
                await swal("Chưa có email khách hàng!", "Click để tiếp tục", "warning")
            } else {
                await swal("Đang thực hiện mua hàng!", "Click để tiếp tục", "success")
                formsubmit1.submit();
            }
        })
    }

    if (dathang) {
        dathang.addEventListener('click', async function(e){
            if (addressInput.value == '') {
                e.preventDefault()
                await swal("Chưa có địa chỉ mua hàng!", "Click để tiếp tục", "warning")
            } else if ('<%= total %>' == 0) {
                e.preventDefault()
                await swal("Giỏ hàng trống!", "Click để tiếp tục", "warning")
            } else {
                await swal("Đang thực hiện đặt hàng!", "Click để tiếp tục", "success")
                    .then(function() {
                        formsubmit.submit()
                    })
            }
        })
    }
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<%- include('_layouts/footer') ; -%>