<%- include('_layouts/header') ; -%>

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_5.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Sản phẩm</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ <i
              class="ion-ios-arrow-forward"></i></a></span> <span>Thông tin sản phẩm<i
            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 ftco-animate img img-2 cart-img-img" style="background-image: url(/images/black-Macchiato-tea.jpg);">
            </div>


            <form method="POST" action="/KACoffe/v1/order">
            <div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
                <div class="heading-section ftco-animate mb-5">
                    <span class="subheading">Thông tin sản phẩm</span>
                    <h2 name="product" class="mb-4"><%= product.name %></h2>
                    
                </div>
                <p class="price"><del><span class="woocommerce-Price-amount amount"><%= product.price %>&nbsp;<span
              class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span
            class="woocommerce-Price-amount amount"><%= product.price %>&nbsp;<span
              class="woocommerce-Price-currencySymbol">₫</span></span></ins></p>
                <div class="woocommerce-product-details__short-description">
                    <p><%= product.description %></p>
                    <p><strong>Nguyên liệu:</strong></p>
                    <p><%= product.material %></p>
                </div>
                <!-- <form class="cart" action="/reservation.html" method="" enctype="multipart/form-data"> -->

                    <div class="quantity">
                        <input type="hidden" name="product" value="<%= product._id %>">
                        <!-- <input type="number" id="quantity_61968f808d09d" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" aria-labelledby="Cà phê Hạt Arabica gu đặc biệt gói 250g quantity"> -->
                        <input type="number" id="quantity_61968f808d09d" class="input-text qty text" name="quantity" >
                        <input type="submit" value="Thêm vào giỏ" class="btn btn-primary py-3 px-5">

                    </div>

                <!-- </form> -->
            </div>
        </form>
        </div>
    </div>
</section>

<%- include('_layouts/footer') ; -%>