<%- include('_layouts/header'); -%>
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_5.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">Sản phẩm</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ <i
              class="ion-ios-arrow-forward"></i></a></span> <span>Thông tin sản phẩm<i
            class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-5 ftco-animate img img-2 cart-img-img">
                    <img class="image-0" src="<%= product.Image[0] %>" style="width:434px; margin-bottom: 12px">
                    <img class="image-1" src="<%= product.Image[0] %>" style="width:100px; margin-right:7px">
                    <img class="image-2" src="<%= product.Image[1] %>" style="width:100px; margin-right:7px">
                    <img class="image-3" src="<%= product.Image[2] %>" style="width:100px; margin-right:7px">
                    <img class="image-4" src="<%= product.Image[3] %>" style="width:100px">
                </div>

                <div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
                    <form method="POST" action="/KACoffe/v1/order">
                        <div class="heading-section ftco-animate mb-5">
                            <span class="subheading">Thông tin sản phẩm</span>
                            <h2 name="product" class="mb-4">
                                <%= product.name %>
                            </h2>

                        </div>
                        <p class="price"><del><span class="woocommerce-Price-amount amount"><%= product.realprice %>&nbsp;<span
                            class="woocommerce-Price-currencySymbol">₫</span></span></del> <ins><span
                            class="woocommerce-Price-amount amount"><%= product.price %>&nbsp;<span
                            class="woocommerce-Price-currencySymbol">₫</span></span></ins></p>
                        <div class="woocommerce-product-details__short-description">
                            <p>
                                <%= product.description %>
                            </p>
                            <p><strong>Nguyên liệu:</strong></p>
                            <p>
                                <%= product.material %>
                            </p>
                            <p><strong>Mô tả sản phẩm:</strong></p>
                            <p style="white-space: pre-line;margin-top: -30px;">
                                <%= product.detaildescription %>
                            </p>

                        </div>
                        <div class="quantity p-3" style="border:1px solid #D5E5F5">
                            <input type="hidden" name="product" value="<%= product._id %>">
                            <!-- <input type="number" id="quantity_61968f808d09d" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" aria-labelledby="Cà phê Hạt Arabica gu đặc biệt gói 250g quantity"> -->
                            Số lượng: <input type="number" id="quantity_61968f808d09d" min="1" class="input-text qty text mr-5" name="quantity">Chọn kích cỡ:
                            <select name="size">
                                <option value="S" >S</option>
                                <option value="M" >M</option>
                                <option value="L" >L</option>
                            </select>
                            <% if(user.role=="user" || !user) { %>
                                <input type="submit" value="Thêm vào giỏ" class="btn btn-primary py-3 px-5 mt-4">
                                <% }else{ %>
                                    <input type="submit" value="Đặt tại quán" class="btn btn-primary py-3 px-5 mt-4">
                                    <% } %>
                                        <!-- <input type="submit" value="Mua ngay" class="btn btn-primary py-3 px-5"> -->
                        </div>

                    </form>
                   
                </div>

            </div>
        </div>
    </section>
    <%- include('comment') ; -%>

    <%- include('_layouts/footer') ; -%>

        <script>
            const image0 = document.querySelector('.image-0')
            const image1 = document.querySelector('.image-1')
            const image2 = document.querySelector('.image-2')
            const image3 = document.querySelector('.image-3')
            const image4 = document.querySelector('.image-4')

            image1.onclick = function() {
                image0.src = image1.src
            }
            image2.onclick = function() {
                image0.src = image2.src
            }
            image3.onclick = function() {
                image0.src = image3.src
            }
            image4.onclick = function() {
                image0.src = image4.src
            }
            document.addEventListener('DOMContentLoaded', async function() {
                if ('<%= warning %>') {
                    await swal("Thất bại!", "<%= warning %>", "warning")
                }
            })
        </script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>