<%- include('_layouts/header') ; -%>

<div class="container" >
    <div class="cart">
        <table class="cart-table" style="margin-top: 100px;" >
            <tr>
                
                <th width="100" style="text-align: center;">Đơn hàng</th>
                <th width="75" style="text-align: center;">Tổng số tiền</th>
                <th width="75" style="text-align: center;">Số lượng</th>
                <th width="150" style="text-align: center;">Tình trạng</th>
                <th width="50" style="text-align: center;">Thao tác</th>
            </tr>

            <% orders.forEach(function(order,index) {  %>
                <tr class="cart-item">
                    <td><a href="/KACoffe/v1/order/detail/<%= order._id %>"># <%= order._id.toString().slice(18, 24) %></a></td>
                    <td><%= order.subtotal  %>đ  </td>
                    <td> <%= order.orderItems.length %>  </td>
                    
                    <td> <%=  order.status %> </td>
                    <form  id="formsubmit<%= order._id %>" action="/KACoffe/v1/order/sendNotification/<%= order._id %>/<%= userid %>" method="post"></form>
                    <form  id="orderdetail<%= order._id %>" action="/KACoffe/v1/order/detail/<%= order._id %>" method="get"></form>
                    
                    <td>
                        <input   onclick="HuyDon('<%= order._id %>');" type="submit" id="xoa" value="Hủy Đơn"  />
                        <input   onclick="XemDon('<%= order._id %>');" type="submit" id="sua" value="Xem Đơn"  />
                    </td>
                    
                </tr>            
            <% }) %>
        </table>
        
    </div>
</div>

<script  >
    
    async function HuyDon(orderid){
        const formsubmit = document.getElementById(`formsubmit${orderid}`)  
       await swal("Thành công","Bản đã yêu cầu hủy đơn hàng","success")
       formsubmit.submit()
    };

    function XemDon(orderid){
        const formsubmit = document.getElementById(`orderdetail${orderid}`)
        formsubmit.submit()
    };

</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<%- include('_layouts/footer') ; -%>