<%- include('_layouts/header') ; -%>

<section class="ftco-section">
    <div class="heading-menu text-center ftco-animate">
        <h3>Mã giảm giá</h3>
    </div>
    <div class="container">
        <div class="row">

            <% discount.forEach((discount) =>{   %> 
    <div class="col-md-6 col-lg-4 menu-wrap">
           
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img" ></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <form method="POST" action="/KACoffe/v1/user/saveDiscount/<%= discount._id  %>"  >
                                    <h3><input type="submit" value="Lưu" ></h3>
                                </form>
                            </div>
                            <div class="one-forth">
                                <span class="price"><%= discount.name %></span>
                            </div>
                        </div>
                        <p><span>Dành cho khách hàng <%= discount.condition1 %></span></p>
                        <p><span>Đơn hàng từ <%= discount.condition2 %></span></p>
                        <p><span>Bắt đầu: <%= discount.startTime.toLocaleString('en-GB') %></span></p>
                        <p><span>Kết thúc: <%= discount.endTime.toLocaleString('en-GB') %></span></p>
                    </div>
                </div>
            
    </div>
    <%  }) %>
    
    </div>
    
</div>
</section>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', async function() {
        if ('<%= status %>' == 0) {
            await swal("<%= error %>", "Click để tiếp tục", "success")
        }
        if ('<%= status %>' == 1) {
            await swal("<%= error %>", "Click để tiếp tục", "warning")
        }
    })
</script>
<%- include('_layouts/footer') ; -%>