<%- include('_layouts/header'); -%>
<link rel="stylesheet" href="/css/addProduct.css">

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_5.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Thêm mã giảm giá</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/KACoffe/v1">Trang chủ <i class="ion-ios-arrow-forward"></i></a></span> <span>Thêm mã giảm giá<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="heading-section ftco-animate mb-5">
            <span class="subheading">Chỉnh sửa mã giảm giá</span>
        </div>
        <form action="/KACoffe/v1/admin/allDiscount/<%= discount._id %>" method="POST">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Tên mã giảm giá" value="<%= discount.name %>">
                    </div>
                </div>
            
                <div class="col-md-6">
                    <div class="form-group">    
                        <select name="condition1" id="condition1" onchange="changeUserHandle()">
                            <option value="">-- Chọn khách hàng --</option>
                            <option value="thường">Khách hàng thường</option>
                            <option value="đồng">Khách hàng đồng</option>
                            <option value="bạc">Khách hàng bạc</option>
                            <option value="vàng">Khách hàng vàng</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <select name="category" id="category" onchange="changeCategoryHandle()">
                            <option value="">-- Hình thức giảm --</option>
                            <option value="shippingfee">Giảm tiền ship</option>
                            <option value="money">Giảm giá tiền</option>
                            <option value="rate">Giảm phần trăm</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" name="minusPrice" id="minusPrice" placeholder="Phần trăm giảm hoặc giá giảm" value="<%= discount.minusPrice %>">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" name="condition2" placeholder="Đơn tối thiểu" value="<%= discount.condition2 %>">    
                    </div>
                </div>
                <div class="row-ml-1 d-flex">
                    <div class="col-md-3">
                        <div class="form-group">
                            <p>Ngày bắt đầu</p>
                            <input type="datetime-local" name="startTime">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <p>Ngày kết thúc</p>
                            <input type="datetime-local" name="endTime">
                        </div>
                    </div>
                </div>
                
            <div class="col-md-6 buttons1">
                <button class="btn1" id="add-btn1">Cập nhật mã gảm giá</button>
            </div>
        </form>
    </div>
    </div>
</section>

<%- include('_layouts/footer'); -%>

<script>
    var categorySelect = document.getElementById('category')
    var minusPriceElement = document.getElementById('minusPrice')

    function changeCategoryHandle() {
        const select = categorySelect.value
        if (select == "shippingfee") {
            minusPriceElement.placeholder = "Số tiền ship giảm"
        } else if (select == "money") {
            minusPriceElement.placeholder = "Số tiền giảm"
        } else if (select == "rate") {
            minusPriceElement.placeholder = "Số phần trăm giảm"
        }
    }
</script>
